html {
    border-collapse: collapse;
}
.generatedtable {
    border: 5px solid green;
    border-collapse: collapse;
    margin: auto;
}
.generatedtable td {
    border: 1px solid green;
}
.generatedtable tbody tr:nth-child(odd) {
    background-color: greenyellow;
}
.generatedtable tbody tr:nth-child(even) {
    background-color: lightskyblue;
}
.generatedtable tr:hover {
    background-color: lightsalmon;
}
body {
    color: rgb(0, 0, 54);
}
.header {
    background-image: linear-gradient(to bottom, #aff38b, #51c74d);
}
.secondRow {
    background-image: linear-gradient(to bottom, #51c74d, #31a72d);
}
.sidebar {
    border-top: rgb(0, 0, 151) solid 0.2em;
    border-bottom: rgb(0, 0, 151) solid 0.2em;
    border-right: rgba(0, 0, 151, 0.322) solid 0.2em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    border-collapse: collapse;
}
a,
a:visited,
a:link {
    color: royalblue !important;
    transition-property: color, font-size !important;
    transition-timing-function: linear !important;
    transition-duration: 0.3s !important;
    padding: 0.3em;
    margin: 0.3em;
}
a:hover {
    color: rgb(168, 13, 91) !important;
    font-size: 1.3em !important;
}
.content-form {
    background-color: rgba(255, 196, 0, 0.2);
    border-top: rgb(0, 0, 151) solid 0.2em;
    border-bottom: rgb(0, 0, 151) solid 0.2em;
    color: royalblue;
}
.footer {
    background-image: linear-gradient(to top, #51c74d, #31a72d);
    padding: 2em;
}
